@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Myriad";
  src: url("./Assets/Fonts/MYRIADPRO-BOLDCOND.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Wagon";
  src: url("../fonts/Wagon\ Free\ Personal\ Use/Wagon-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Flaviotte";
  src: url("../fonts/Flaviotte\ Font/OpenType-PS/Flaviotte.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fogtwono5";
  src: url("../fonts/fogtwono5/FogtwoNo5.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "absans";
  src: url("../fonts/absans-font/absans-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "round8";
  src: url("../fonts/round-8-font/round8-four") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "newake";
  src: url("../fonts/Newake/newake-demo-400") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "thunder";
  src: url("../fonts/thunder/THUNDER/Fonts/OpenType-TT/Thunder-BoldLC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "groteskly";
  src: url("../fonts/groteskly-yours-resist-sans-display/Groteskly") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "azonix";
  src: url("../fonts/azonix/Azonix.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dual";
  src: url("../fonts/dual/Dual-300.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "humane";
  src: url("../fonts/HUMANE-Typeface/Humane-Bold.ttf") format("truetype");
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


body {
  background: #050816;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left 35s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 35s linear infinite;
}

.testimonial-mask {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.contact-us-form input,
.contact-us-form textarea {
  background: #050816;
  border-radius: 10px;
  width: 100%;
  padding: 0.5rem 1rem;

  border: 1px solid transparent;   /* important */
  transition: border-color 0.3s ease;
}

.contact-us-form input:focus,
.contact-us-form textarea:focus {
  border-color: #1e3a8a;
  box-shadow: 0 0 16px rgba(30, 58, 138, 0.4);
  outline: none;
}

@media (min-width: 768px) {
  .projects-hero{
    margin-top: 10rem;
  }
}

@media (max-width: 768px) {
  .services-page-left-side{
    text-align: center;
  }
}